body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(56, 56, 56);
    padding: 0 1%;
}

.project-folder {
    width: fit-content;
    margin: 7%;
    text-align: center;
}

.folder {
    max-width: 90px;
    padding: 0;
}

.folder-title {
    margin: 0;
}

.folder-link {
    color: white;
}

.folder-link:hover {
    text-decoration: none;
    color: rgb(202, 202, 202);
}

@media screen and (max-width: 480px) {
    .project-folder {
        margin: 7%;
    }

    .folder {
        max-width: 50px;
    }

    .folder-title {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding: 10% 1%;
    }
}