body {
    font-family: 'Roboto', sans-serif;
}

.transparent {
    background: transparent;
}

#videoBG {
    position: fixed;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    #videoBG {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    
    body {
        background: url("../images/posture.JPG");
        background-size: cover;
    }
}

.project-folder {
    width: fit-content;
    margin: 7%;
    text-align: center;
}

.folder {
    max-width: 90px;
    padding: 0;
}

.folder-title {
    margin: 0;
}

.folder-link {
    color: white;
}

.folder-link:hover {
    text-decoration: none;
    color: rgb(202, 202, 202);
}

@media screen and (max-width: 480px) {
    body {
        background-image: url("../images/project-background-mobile.jpg");
        margin: 20% 8% 0% 8%;
    }

    .project-folder {
        margin: 7%;
    }

    .folder {
        max-width: 50px;
    }

    .folder-title {
        font-size: 10px;
    }
}