html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.white-section {
    padding: 5% 25%;
    background: #F8F8F8;
}

.colored-section {
    padding: 5% 22%;
    background: #38515f;
    color: white;
}

#navbar {
    background-color: black;
    justify-content: space-between;
    padding: 1% 2%;
    text-align: center;
    overflow: hidden;
}

#navbar a {
    color: #D37F42;
    margin: 0 10px;
}

#navbar a:hover {
    color: #8b552f;
}

#projects a {
    color: black;
}

#projects a:hover {
    color: rgb(77, 77, 77);
}

#socials a {
    color: white;
}

#socials a:hover {
    color: rgb(212, 212, 212);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

#home{
    background-image: url("../images/home-image.PNG");
    height: 100%;
    background-position: center center;
    background-repeat: none;
    background-size: cover;
}

#title {
    text-align: center;
    padding: 24% 10%;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#title h1 {
    font-size: 4.75rem;
    margin: 0;
}

#prof-alignment{
    text-align: center;
}

#profile-pic {
    max-width: 60%;
    height: auto;
    border-radius: 100px;
}

#logo {
    max-width: 65px;
    height: auto;
    border-radius: 100px;
    border: 1px solid black;
    margin-bottom: 10%;
}

#projects {
    text-align: center;
}

#socials {
    text-align: center;
    margin: 3% 0;
}

.icon {
    padding: 3px 10px;
}

footer {
    padding: 2%;
    text-align: center;
    background: #38515f;
    color: white;
}